---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cluster-autoscaler
  namespace: kube-system
  labels:
    app: cluster-autoscaler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-autoscaler
  template:
    metadata:
      labels:
        app: cluster-autoscaler
    spec:
      containers:
        - image: {{ AUTOSCALER_IMAGE }}
          name: cluster-autoscaler
          resources:
            limits:
              cpu: {{ AUTOSCALER_CPU_LIMIT }}
              memory: {{ AUTOSCALER_MEMORY_LIMIT }}
            requests:
              cpu: {{ AUTOSCALER_CPU_LIMIT }}
              memory: {{ AUTOSCALER_MEMORY_LIMIT }}
          command:
            - ./cluster-autoscaler
            - --v=4
            - --stderrthreshold=info
            - --cloud-provider=aws
            - --skip-nodes-with-local-storage=false
            - --nodes=1:{{ MAX_NODES }}:nodes.{{ KOPS_CLUSTER_NAME }}
          env:
            - name: AWS_REGION
              value: {{ AWS_REGION }}
          volumeMounts:
            - name: ssl-certs
              mountPath: /etc/ssl/certs/ca-certificates.crt
              readOnly: true
          imagePullPolicy: "Always"
      volumes:
        - name: ssl-certs
          hostPath:
            path: "/etc/ssl/certs/ca-certificates.crt"
