apiVersion: v1
kind: Service
metadata:
  name: {{ KUMA_NAME }}
spec:
  type: LoadBalancer
  selector:
    app: {{ KUMA_NAME }}
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ KUMA_NAME }}
spec:
  replicas: {{ KUMA_REPLICAS }}
  template:
    metadata:
      labels:
        app: {{ KUMA_NAME }}
    spec:
      volumes:
        - name: kuma-fs
          persistentVolumeClaim:
            claimName: pv-claim-for-kuma
      containers:
        - name: {{ KUMA_NAME }}
          image: "quay.io/mozmar/kuma:{{ KUMA_GIT_COMMIT_SHORT }}"
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /data/www
              name: kuma-fs
          command:
            - gunicorn
          args:
            - "-w=4"
            - "--bind=0.0.0.0"
            - "--access-logfile=-"
            - "--timeout=120"
            - "kuma.wsgi:application"
          ports:
            - containerPort: 8000
          env:
            {% include 'kuma-env.yaml.j2' %}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /readiness
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 3
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 16
              memory: 16Gi
