kind: PersistentVolumeClaim
apiVersion: v1
metadata:
    name: pv-claim-for-kuma
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ KUMA_PV_CLAIM_SIZE }}
  volumeName: {{ KUMA_PV_NAME }}
