kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ PV_DB_NAME }}
spec:
  capacity:
    storage: {{ PV_DB_CAPACITY }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: {{ PV_DB_RECLAIM_POLICY }}
  storageClassName: {{ PV_DB_STORAGE_CLASS_NAME }}
  AWSElasticBlockStore:
    fsType: ext4
    volumeID: {{ PV_DB_ARN }}
