**/__pycache__
venv
elbs/**/*.tfvars
apps/**/Procfile
/elb_automation/meaoelb/__pycache__/__init__.cpython-36.pyc
.DS_Store

**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
infra/k8s/install/services/fluentd/fluentd.yaml.out

# Crash log files
crash.log
