# Django settings overrides:
            - name: ACCOUNT_DEFAULT_HTTP_PROTOCOL
              value: {{ KUMA_ACCOUNT_DEFAULT_HTTP_PROTOCOL }}
            - name: ALLOWED_HOSTS
              value: {{ KUMA_ALLOWED_HOSTS }}
            - name: BROKER_URL
              value: {{ KUMA_CELERY_BROKER_URL }}
            - name: CELERY_ALWAYS_EAGER
              value: "False"
            - name: CSRF_COOKIE_SECURE
              value: {{ KUMA_CSRF_COOKIE_SECURE }}
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ MYSQL_RELEASE }}-mysql
                  key: mysql-root-password
            - name: DATABASE_URL
              value: mysql://root:$(MYSQL_ROOT_PASSWORD)@{{ MYSQL_RELEASE }}-mysql:3306/developer_mozilla_org
            - name: DEBUG
              value: {{ KUMA_DEBUG }}
            - name: DEBUG_TOOLBAR
              value: {{ KUMA_DEBUG_TOOLBAR }}
            - name: DOMAIN
              value: {{ KUMA_DOMAIN }}
            - name: ES_URLS
              value: {{ ELASTICSEARCH_URL }}
            - name: KUMASCRIPT_URL_TEMPLATE
              value: {{ KUMASCRIPT_URL_TEMPLATE }}
            - name: MEMCACHE_SERVERS
              value: {{ MEMCACHED_URL }}
            - name: PROD_DETAILS_DIR
              value: /app/product_details_json
            - name: PROTOCOL
              value: {{ KUMA_PROTOCOL }}
            - name: SESSION_COOKIE_SECURE
              value: {{ KUMA_SESSION_COOKIE_SECURE }}
            - name: SITE_URL
              value: {{ KUMA_SITE_URL }}
            # Other environment overrides
            - name: PYTHONDONTWRITEBYTECODE
              value: "1"
            - name: PYTHONUNBUFFERED
              value: "True"
            - name: WEB_CONCURRENCY
              value: {{ KUMA_WEB_CONCURRENCY }}
            - name: MAINTENANCE_MODE
              value: {{ KUMA_MAINTENANCE_MODE }}
