kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ PV_SHARED_NAME }}
  annotations:
    volume.beta.kubernetes.io/storage-class: {{ PV_SHARED_STORAGE_CLASS_NAME }}
spec:
  capacity:
    storage: {{ PV_SHARED_CAPACITY }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: {{ PV_SHARED_RECLAIM_POLICY }}
  nfs:
    path: {{ PV_SHARED_MOUNT_PATH }}
    server: {{ PV_SHARED_ARN }}
