{% include 'kuma.base.deploy.yaml.j2' %}
          command:
            - newrelic-admin
          args:
            - run-program
            - ./manage.py
            - celerycam
            - "--freq=2.0"
            - "--loglevel=INFO"
