{% include 'kuma.base.deploy.yaml.j2' %}
          command:
            - /usr/local/bin/newrelic-admin
          args:
            - run-program
            - ./manage.py
            - celery
            - worker
            - "--events"
            - "--autoreload"
            - "--concurrency={{ CELERY_WORKERS_CONCURRENCY }}"
            - "-Q {{ CELERY_WORKERS_QUEUES }}"
