kind: Service
apiVersion: v1
metadata:
  name: {{ SERVICE_NAME }}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ SERVICE_CERT_ARN }}
    service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: Stack=MDN-{{ TARGET_ENVIRONMENT }}
    service.beta.kubernetes.io/aws-load-balancer-access-log-emit-interval: {{ ELB_S3_LOGGING_INTERVAL }}
    service.beta.kubernetes.io/aws-load-balancer-access-log-enabled: {{ ELB_S3_LOGGING_ENABLED }}
    service.beta.kubernetes.io/aws-load-balancer-access-log-s3-bucket-name: {{ ELB_S3_LOGGING_BUCKET }}
    service.beta.kubernetes.io/aws-load-balancer-access-log-s3-bucket-prefix: {{ ELB_S3_LOGGING_PREFIX }}
spec:
  type: {{ SERVICE_TYPE }}
  selector:
    app: {{ SERVICE_NAME }}
  ports:
    - port: {{ SERVICE_PORT }}
      targetPort: {{ SERVICE_TARGET_PORT }}
      protocol: {{ SERVICE_PROTOCOL }}

