kind: Service
apiVersion: v1
metadata:
  name: {{ SERVICE_NAME }}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ SERVICE_CERT_ARN }}
spec:
  type: {{ SERVICE_TYPE }}
  selector:
    app: {{ SERVICE_NAME }}
  ports:
    - port: {{ SERVICE_PORT }}
      targetPort: {{ SERVICE_TARGET_PORT }}
      protocol: {{ SERVICE_PROTOCOL }}
