{% include 'kuma.base.deploy.yaml.j2' %}
          ports:
            - containerPort: {{ KUMA_CONTAINER_PORT }}
          command:
            - gunicorn
          args:
            - "-w={{ KUMA_GUNICORN_WORKERS }}"
            - "--bind=0.0.0.0:{{ KUMA_CONTAINER_PORT }}"
            - "--access-logfile=-"
            - "--timeout={{ KUMA_GUNICORN_TIMEOUT }}"
            - "--worker-class=meinheld.gmeinheld.MeinheldWorker"
            - "kuma.wsgi:application"
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ KUMA_CONTAINER_PORT }}
              httpHeaders:
                - name: Host
                  value: {{ KUMA_ALLOWED_HOSTS.split(',')[0].strip() }}
            initialDelaySeconds: 20
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /readiness
              port: {{ KUMA_CONTAINER_PORT }}
              httpHeaders:
                - name: Host
                  value: {{ KUMA_ALLOWED_HOSTS.split(',')[0].strip() }}
            initialDelaySeconds: 20
            periodSeconds: 3
