kind: Service
apiVersion: v1
metadata:
  name: {{ KUMA_NAME }}
spec:
  type: LoadBalancer
  selector:
    app: {{ KUMA_NAME }}
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ KUMA_NAME }}
spec:
  replicas: {{ KUMA_REPLICAS }}
  template:
    metadata:
      labels:
        app: {{ KUMA_NAME }}
    spec:
      volumes:
        - name: kuma-fs
          persistentVolumeClaim:
            claimName: {{ KUMA_PVC_NAME }}
      containers:
        - name: {{ KUMA_NAME }}
          image: {{ KUMA_IMAGE }}:{{ KUMA_IMAGE_TAG }}
          imagePullPolicy: {{ KUMA_IMAGE_PULL_POLICY }}
          volumeMounts:
            - mountPath: {{ KUMA_MOUNT_PATH }}
              name: kuma-fs
          command:
            - gunicorn
          args:
            - "-w={{ KUMA_GUNICORN_WORKERS }}"
            - "--bind=0.0.0.0"
            - "--access-logfile=-"
            - "--timeout={{ KUMA_GUNICORN_TIMEOUT }}"
            - "kuma.wsgi:application"
          ports:
            - containerPort: 8000
          env:
            {% include 'kuma-env.yaml.j2' %}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /readiness
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 3
          resources:
            requests:
              cpu: {{ KUMA_CPU_REQUEST }}
              memory: {{ KUMA_MEMORY_REQUEST }}
            limits:
              cpu: {{ KUMA_CPU_LIMIT }}
              memory: {{ KUMA_MEMORY_LIMIT }}
