kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ KUMA_NAME }}
spec:
  replicas: {{ KUMA_REPLICAS }}
  template:
    metadata:
      labels:
        app: {{ KUMA_APP_LABEL }}
    spec:
{% include 'kuma.base.yaml.j2' %}
