kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ KUMASCRIPT_NAME }}
spec:
  replicas: {{ KUMASCRIPT_REPLICAS }}
  template:
    metadata:
      labels:
        app: {{ KUMASCRIPT_APP_LABEL }}
    spec:
      containers:
        - name: {{ KUMASCRIPT_NAME }}
          image: "{{ KUMASCRIPT_IMAGE }}:{{ KUMASCRIPT_IMAGE_TAG }}"
          imagePullPolicy: {{ KUMASCRIPT_IMAGE_PULL_POLICY }}
          command:
            - node
          args:
            - run.js
          ports:
            - containerPort: {{ KUMASCRIPT_CONTAINER_PORT }}
          env:
            - name: log__console
              value: "true"
            - name: server__template_root_dir
              value: macros
            - name: server__document_url_template
              value: {{ KUMASCRIPT_DOCUMENT_URL_TEMPLATE }}
            - name: server__memcache__server
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: memcached-url
            - name: server__template_class
              value: EJSTemplate
            - name: server__autorequire__mdn
              value: MDN:Common
            - name: server__autorequire__Page
              value: DekiScript:Page
            - name: server__autorequire__String
              value: DekiScript:String
            - name: server__autorequire__Uri
              value: DekiScript:Uri
            - name: server__autorequire__Web
              value: DekiScript:Web
            - name: server__autorequire__Wiki
              value: DekiScript:Wiki
            - name: NEW_RELIC_APP_NAME
              value: {{ NEW_RELIC_APP_NAME }}
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-secrets
                  key: NEW_RELIC_LICENSE_KEY
          resources:
            requests:
              cpu: {{ KUMASCRIPT_CPU_REQUEST }}
              memory: {{ KUMASCRIPT_MEMORY_REQUEST }}
            limits:
              cpu: {{ KUMASCRIPT_CPU_LIMIT }}
              memory: {{ KUMASCRIPT_MEMORY_LIMIT }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ KUMASCRIPT_CONTAINER_PORT }}
            initialDelaySeconds: 10
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /readiness
              port: {{ KUMASCRIPT_CONTAINER_PORT }}
            initialDelaySeconds: 10
            periodSeconds: 3
