apiVersion: v1
kind: Pod
metadata:
  name: mdn-backup-test
spec:
    containers:
    - name: mdn-backup-test
      env:
        - name: LOCAL_DIR
          value: {{ BACKUP_LOCAL_DIR }}
        - name: REMOTE_DIR
          value: {{ BACKUP_REMOTE_DIR }}
        - name: BUCKET
          value: "{{ BACKUP_BUCKET }}"
        - name: PUSH_OR_PULL
          value: PUSH
        - name: AWS_REGION
          value: {{ AWS_REGION }}
        - name: AWS_S3SYNC_PAGE_SIZE
          value: "100"
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: access_key
              name: {{ BACKUP_SECRETS_NAME }}
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: secret_key
              name: {{ BACKUP_SECRETS_NAME }}
        - name: DEADMANSSNITCH_URL
          valueFrom:
            secretKeyRef:
              key: DEADMANSSNITCH_URL
              name: {{ BACKUP_SECRETS_NAME }}
      image: {{ BACKUP_IMAGE }}
      imagePullPolicy: IfNotPresent
      command: [ "/bin/bash", "-c", "--" ]
      args: [ "while true; do sleep 30; done;" ]
      volumeMounts:
      - mountPath: {{ BACKUP_MOUNT_DIR }}
        name: {{ SHARED_PVC_NAME }}
    volumes:
    - name: {{ SHARED_PVC_NAME }}
      persistentVolumeClaim:
        claimName: {{ SHARED_PVC_NAME }}

