apiVersion: batch/v2alpha1
kind: CronJob
metadata:
  name: {{ SYNC_FROM_S3_SERVICE_NAME }}
spec:
  schedule: {{ SYNC_FROM_S3_SCHEDULE }}
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: {{ FAILED_JOBS_HISTORY_LIMIT }}
  successfulJobsHistoryLimit: {{ SUCCESSFUL_JOBS_HISTORY_LIMIT }}
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: {{ SYNC_FROM_S3_CONTAINER_NAME }}
              image: {{ BACKUP_IMAGE }}
              volumeMounts:
                - mountPath: {{ BACKUP_MOUNT_DIR }}
                  name: {{ SHARED_PVC_NAME }}
              env:
                - name: LOCAL_DIR
                  value: {{ SYNC_LOCAL_DIR }}
                - name: REMOTE_DIR
                  value: {{ SYNC_REMOTE_DIR }}
                - name: BUCKET
                  value: "{{ SYNC_BUCKET }}"
                - name: PUSH_OR_PULL
                  value: PULL
                - name: AWS_REGION
                  value: {{ AWS_SYNC_REGION }}
                - name: AWS_S3SYNC_PAGE_SIZE
                  value: {{ AWS_SYNC_PAGE_SIZE }}
                - name: AWS_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: {{ BACKUP_SECRETS_NAME }}
                      key: access_key
                - name: AWS_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: {{ BACKUP_SECRETS_NAME }}
                      key: secret_key
          volumes:
            - name: {{ SHARED_PVC_NAME }}
              persistentVolumeClaim:
                claimName: {{ SHARED_PVC_NAME }}
          restartPolicy: OnFailure

