kind: Job
apiVersion: batch/v1
metadata:
  name: mdn-{{ APP_NAME }}-record-deployment
spec:
  template:
    metadata:
      name: mdn-{{ APP_NAME }}-record-deployment
    spec:
      restartPolicy: Never
      containers:
        - name: mdn-{{ APP_NAME }}-record-deployment
          image: {{ KUMA_IMAGE }}:{{ KUMA_IMAGE_TAG }}
          imagePullPolicy: {{ KUMA_IMAGE_PULL_POLICY }}
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
          env:
            - name: NEW_RELIC_API_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-secrets
                  key: NEW_RELIC_API_KEY
            - name: NEW_RELIC_APP_IDS
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: {{ APP_NAME }}-new-relic-app-ids
            - name: SPEEDCURVE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: speedcurve-secrets
                  key: SPEEDCURVE_API_KEY
            - name: SPEEDCURVE_SITE_ID
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: speedcurve-site-id
          command:
            - "./scripts/record_deployments.py"
          args:
            - "--app={{ APP_NAME }}"
            - "--from={{ FROM_REVISION_HASH }}"
            - "--to={{ TO_REVISION_HASH }}"
            - "--verbose"
