apiVersion: batch/v1
kind: Job
metadata:
  name: mdn-efs-setup
spec:
  template:
    metadata:
      name: mdn-efs-setup
    spec:
      containers:
        - name: mdn-efs-setup
          image: debian
          command: [ "/bin/bash", "-c", "mkdir -p /mdn/www/{attachments,diagrams,presentations,samples} && chown -R 1000:1000 /mdn/www/{attachments,diagrams,presentations,samples} && chown 1000:1000 /mdn/www"]
          volumeMounts:
            - mountPath: {{ BACKUP_MOUNT_DIR }}
              name: {{ SHARED_PVC_NAME }}
      restartPolicy: Never
      volumes:
        - name: {{ SHARED_PVC_NAME }}
          persistentVolumeClaim:
            claimName: {{ SHARED_PVC_NAME }}
