kind: Job
apiVersion: batch/v1
metadata:
  name: mdn-db-migration
spec:
  template:
    metadata:
      name: mdn-db-migration
    spec:
      restartPolicy: Never
{% include 'kuma.base.yaml.j2' %}
          command:
            - python2.7
          args:
            - manage.py
            - migrate
            - "--noinput"
            - "--fake-initial"
