apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ DATADOG_REDIS_DEPLOYMENT_NAME }}
spec:
  template:
    metadata:
      labels:
        app: {{ DATADOG_REDIS_DEPLOYMENT_NAME }}
      name: {{ DATADOG_REDIS_DEPLOYMENT_NAME }}
    spec:
      containers:
      - image: datadog/docker-dd-agent:latest
        imagePullPolicy: Always
        name: {{ DATADOG_REDIS_DEPLOYMENT_NAME }}
        ports:
          - containerPort: 8125
            name: dogstatsdport
            protocol: UDP
        env:
          - name: API_KEY
            valueFrom:
              secretKeyRef:
                name: {{ DATADOG_SECRETS_NAME }}
                key: API_KEY
          - name: KUBERNETES
            value: "yes"
          - name: SD_BACKEND
            value: docker
          # Uncomment this variable if the agent has issues reaching kubelet
          # - name: KUBERNETES_KUBELET_HOST
          #   valueFrom:
          #     fieldRef:
          #       fieldPath: status.hostIP  # Kubernetes >= 1.7
          #       # or
          #       # fieldPath: spec.nodeName  # Kubernetes < 1.7
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
        volumeMounts:
          - name: dockersocket
            mountPath: /var/run/docker.sock
          - name: procdir
            mountPath: /host/proc
            readOnly: true
          - name: cgroups
            mountPath: /host/sys/fs/cgroup
            readOnly: true
          - name: {{ DATADOG_SECRETS_NAME }}
            mountPath: "/conf.d"
            readOnly: true
        livenessProbe:
          exec:
            command:
            - ./probe.sh
          initialDelaySeconds: 15
          periodSeconds: 5
      volumes:
        - hostPath:
            path: /var/run/docker.sock
          name: dockersocket
        - hostPath:
            path: /proc
          name: procdir
        - hostPath:
            path: /sys/fs/cgroup
          name: cgroups
        - name: {{ DATADOG_SECRETS_NAME }}
          secret:
              secretName: "{{ DATADOG_SECRETS_NAME }}"
              items:
                - key: REDIS_CONFIG_FILE
                  path: redisdb.yaml

