kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ MYSQL_NAME }}-{{ TARGET_ENVIRONMENT }}
spec:
  capacity:
    storage: {{ MYSQL_STORAGE_SIZE }}
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: {{ MYSQL_STORAGE_RECLAIM_POLICY }}
  awsElasticBlockStore:
    fsType: ext4
    volumeID: {{ MYSQL_STORAGE_EBS_ARN }}
  storageClassName: db-fast
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ MYSQL_NAME }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ MYSQL_STORAGE_SIZE }}
  storageClassName: db-fast
  volumeName: {{ MYSQL_NAME }}-{{ TARGET_ENVIRONMENT }}
