kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ MYSQL_NAME }}
  labels:
    app: {{ MYSQL_NAME }}
spec:
  template:
    metadata:
      labels:
        app: {{ MYSQL_NAME }}
      annotations:
        pod.beta.kubernetes.io/init-containers: '[
              {
                  "name": "remove-lost-found",
                  "image": "busybox:1.25.0",
                  "command": ["rm", "-fr", "/var/lib/mysql/lost+found"],
                  "volumeMounts": [
                      {
                          "name": "data",
                          "mountPath": "/var/lib/mysql"
                      }
                  ],
                  "imagePullPolicy": "{{ MYSQL_IMAGE_PULL_POLICY }}"
              }
          ]'
    spec:
      containers:
      - name: {{ MYSQL_NAME }}
        image: "{{ MYSQL_IMAGE }}:{{ MYSQL_IMAGE_TAG }}"
        imagePullPolicy: {{ MYSQL_IMAGE_PULL_POLICY }}
        resources:
          requests:
            memory: 256Mi
            cpu: 100m
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: {{ MYSQL_ROOT_PASSWORD }}
        - name: MYSQL_PASSWORD
          value: {{ MYSQL_PASSWORD }}
        - name: MYSQL_USER
          value: {{ MYSQL_USER }}
        - name: MYSQL_DATABASE
          value: {{ MYSQL_DATABASE }}
        ports:
        - name: mysql
          containerPort: 3306
        livenessProbe:
          exec:
            command:
            - mysqladmin
            - ping
          initialDelaySeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          exec:
            command:
            - mysqladmin
            - ping
          initialDelaySeconds: 5
          timeoutSeconds: 1
        volumeMounts:
        - name: data
          mountPath: /var/lib/mysql
      volumes:
       - name: data
         persistentVolumeClaim:
           claimName: {{ MYSQL_NAME }}
