kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ SHARED_PV_NAME }}
spec:
  capacity:
    storage: {{ SHARED_PV_SIZE }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: {{ SHARED_PV_RECLAIM_POLICY }}
  nfs:
    path: {{ SHARED_PV_MOUNT_PATH }}
    server: {{ SHARED_PV_ARN }}
  storageClassName: {{ SHARED_PV_STORAGE_CLASS_NAME }}
