kind: PersistentVolumeClaim
apiVersion: v1
metadata:
    name: {{ SHARED_PVC_NAME }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ SHARED_PVC_SIZE }}
  volumeName: {{ SHARED_PV_NAME }}
  storageClassName: {{ SHARED_PV_STORAGE_CLASS_NAME }}
