kind: Service
apiVersion: v1
metadata:
  name: {{ SERVICE_NAME }}
spec:
  type: {{ SERVICE_TYPE }}
  selector:
    app: {{ SERVICE_NAME }}
  ports:
    - port: {{ SERVICE_PORT }}
      targetPort: {{ SERVICE_TARGET_PORT }}
      protocol: {{ SERVICE_PROTOCOL }}
