kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ WORKER_NAME }}
spec:
  replicas: {{ WORKER_REPLICAS }}
  template:
    metadata:
      labels:
        app: {{ WORKER_NAME }}
    spec:
      volumes:
        - name: kuma-fs
          persistentVolumeClaim:
            claimName: {{ KUMA_PVC_NAME }}
      containers:
        - name: {{ WORKER_NAME }}
          image: {{ KUMA_IMAGE }}:{{ KUMA_IMAGE_TAG }}
          imagePullPolicy: {{ KUMA_IMAGE_PULL_POLICY }}
          volumeMounts:
            - mountPath: {{ KUMA_MOUNT_PATH }}
              name: kuma-fs
          resources:
            requests:
              cpu: {{ WORKER_CPU_REQUEST }}
              memory: {{ WORKER_MEMORY_REQUEST }}
            limits:
              cpu: {{ WORKER_CPU_LIMIT }}
              memory: {{ WORKER_MEMORY_LIMIT }}
          command:
            - ./manage.py
          args:
            - celery
            - worker
            - "--events"
            - "--autoreload"
            - "--concurrency=4"
            - "-Q mdn_purgeable,mdn_search,mdn_emails,mdn_wiki,celery"
          env:
            {% include 'kuma-env.yaml.j2' %}
