apiVersion: v1
kind: Pod
metadata:
  name: rdsbackup-{{ BACKUP_POD_NAME }}-{{ BACKUP_POD_SUFFIX }}
  namespace: {{ K8S_NAMESPACE }}
  labels:
    name: rdsbackup-{{ BACKUP_POD_NAME }}-{{ BACKUP_POD_SUFFIX }}
spec:
  restartPolicy: Never
  containers:
  - name: rdsbackup-{{ BACKUP_POD_NAME }}-{{ BACKUP_POD_SUFFIX }}
    image: {{ RDS_IMAGE}}
    {%- if DEBUG_MODE == 'true' %}
    command: [ "/bin/bash", "-c", "--" ]
    args: [ "while true; do sleep 30; done;" ]
    {%- endif %}
    env:
      - name: DBTYPE
        value: {{ DBTYPE }}
      - name: BACKUP_DIR
        value: {{ BACKUP_DIR }}
      - name: BACKUP_BUCKET
        value: {{ BACKUP_BUCKET }}
      - name: AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: {{ BACKUP_CONFIG_SECRETS }}
            key: AWS_ACCESS_KEY_ID
      - name: AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: {{ BACKUP_CONFIG_SECRETS }}
            key: AWS_SECRET_ACCESS_KEY
      - name: BACKUP_PASSWORD
        valueFrom:
          secretKeyRef:
            name: {{ BACKUP_CONFIG_SECRETS }}
            key: BACKUP_PASSWORD
      - name: DBHOST
        valueFrom:
          secretKeyRef:
            name: {{ DB_SECRETS_NAME }}
            key: DBHOST
      - name: DBNAME
        valueFrom:
          secretKeyRef:
            name: {{ DB_SECRETS_NAME }}
            key: DBNAME
      - name: DBPASSWORD
        valueFrom:
          secretKeyRef:
            name: {{ DB_SECRETS_NAME }}
            key: DBPASSWORD
      - name: DBPORT
        valueFrom:
          secretKeyRef:
            name: {{ DB_SECRETS_NAME }}
            key: DBPORT
      - name: DBUSER
        valueFrom:
          secretKeyRef:
            name: {{ DB_SECRETS_NAME }}
            key: DBUSER
      - name: DEADMANSSNITCH_URL
        valueFrom:
          secretKeyRef:
            name: {{ DB_SECRETS_NAME }}
            key: DEADMANSSNITCH_URL
